<div >
  <h1 >Your Profile</h1>
  <p>{{user.name}}</p>
  <p>{{user.email}}</p>
  <p>{{user.age}}</p>
  <form action="/api/sessions/logout" method="post">
    <input
      type="submit"
      value="Logout"
    />
  </form>
</div>